<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Roster</title>
    <link rel="stylesheet" href="/statistician.css">
</head>
<body>
    <form action="/statistician" method="POST" id="backToConsole">
        <input type="checkbox" checked="checked" class="invisible"
            name="session" value="<%=session%>" />
        <input type="checkbox" checked="checked" class="invisible"
            name="coachId" value="<%=coach.iD%>" />
    </form>
    <h1>CJML Statistician Roster Management</h1>
    <h2><%=coach.school%></h2>
    <form action="/statisticianroster" method="POST" id="addStudent">
        <input type="checkbox" checked="checked" class="invisible"
            name="session" value="<%=session%>" />
        <input type="checkbox" checked="checked" class="invisible" 
            name="coachId" value="<%=coach.iD%>" />
    </form>
    <form action="/statisticianroster" method="POST">
        <input type="checkbox" checked="checked" class="invisible"
            name="session" value="<%=session%>" />
        <input type="checkbox" checked="checked" class="invisible"
            name="coachId" value="<%=coach.iD%>" />
        <div class="horizontalchildren">
            <h2>coach: <%=coach.fullName%></h2>
            <button type="submit" name="requestType" value="passWordReset" 
                onclick="return confirm('Are you sure?')">
                Password Reset
            </button>
        </div>
        <div>
            <table class="eighty">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First</th>
                        <th>Middle</th>
                        <th>Last</th>
                    </tr>
                </thead>
                <tbody>
                    <%alphaStudents.forEach(student => {%>
                        <tr>
                            <%if(studentId == student.iD){%>
                                <td>
                                    <%=student.iD%>
                                </td>
                                <td>
                                    <input type="text" required
                                        name="first" value="<%=student.first%>" placeholder="firstname" />
                                </td>
                                <td>
                                    <input type="text" 
                                        name="middle" value="<%=student.middle%>" placeholder="middlename" />
                                </td>
                                <td>
                                    <input type="text" required 
                                        name="last" value="<%=student.last%>" placeholder="lastname" />
                                </td>
                                <td>
                                    <div class="horizontalchildren">
                                        <button type="submit" name="requestType" value="<%='updateStudent'+student.iD%>">
                                            Save changes
                                        </button>
                                        <button type="submit" name="requestType" value="<%='manageRoster'+coach.iD%>">
                                            Cancel
                                        </button>
                                    </div>
                                </td>
                            <%} else {%>
                                <td>
                                    <%=student.iD%>
                                </td>
                                <td>
                                    <%=student.first%>
                                </td>
                                <td>
                                    <%=student.middle%>
                                </td>
                                <td>
                                    <%=student.last%>
                                </td>
                                <td>
                                    <button type="submit" <%if(studentId != "none"){%>disabled<%}%>
                                        name="requestType" value="<%='editStudent'+student.iD%>">
                                        Edit Student
                                    </button>
                                </td>
                            <%}%>
                        </tr>
                    <%});%>
                    <tr>
                        <td>
                            Add
                        </td>
                        <td>
                            <input type="text" form="addStudent" required
                                name="first" placeholder="firstname" />
                        </td>
                        <td>
                            <input type="text" form="addStudent" 
                                name="middle" placeholder="middlename" />
                        </td>
                        <td>
                            <input type="text" form="addStudent" required
                                name="last" placeholder="lastname" />
                        </td>
                        <td>
                            <button type="submit" form="addStudent" <%if(studentId != "none"){%>disabled<%}%>
                                name="requestType" value="addStudent">
                                Add Student
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    <button type="submit" form="backToConsole" 
        name="requestType" value="readOnly">
        Back to Console
    </button>
</body>
</html>