<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/statistician.css">
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password Form</h1>
    <h2><%=instrMsg%></h2>
    <form action="<%=returnPath%>" method="POST" id="changePasswordForm">
        <input type="checkbox" class="invisible" checked="checked"
            name="coachId" value="<%=coachId%>">
        <input type="checkbox" class="invisible" checked="checked"
            name="session" value="<%=session%>">
        <br />
        <label for="oldpassword"> Enter old password: </label>
        <input type="text" id="oldPassword" required 
            name="oldPassWord" placeholder="oldpassword" />
        <br />
        <label for="oldpassword"> Enter new password: </label>
        <input type="text" id="firstEntry" required 
            name="firstEntry" placeholder="newpassword" />
        <br />
        <label for="oldpassword"> Confirm new password: </label>
        <input type="text" id="secondEntry" required 
            name="secondEntry" placeholder="newpassword" />
        <button type="submit" 
            name="requestType" value="updatePwd">
            Submit Password Change
        </button>

    </form>
    <br />
    <br />
    <form action="<%=returnPath%>" method="POST" id="changePasswordForm">
        <input type="checkbox" class="invisible" checked="checked"
            name="coachId" value="<%=coachId%>">
        <input type="checkbox" class="invisible" checked="checked"
            name="session" value="<%=session%>">
        <button type="submit" 
            name="requestType" value="readOnly">
            Cancel
        </button>
</body>
</html>