<!DOCTYPE html>
<!-- 
Still to do:
Review the existing CSS and extend the CSS to the other three pages (login, 
admin, roster management), making a common color and font and button scheme and using the same header and footer.
Research https and good security practices
Error-handling improvements 
Button for downloading image of scoresheet (and/or HTML code)
Use pop-ups for statistician options so that auto-backup doesn't need restarting
-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=coachSchool%> score sheet</title>
        <link rel="stylesheet" href="/coach.css">
    </head>
    <body>
        <div id="oheader">
            <a href="/?arrivedFrom=loggedout"><button>logout</button></a>
        </div>
        <br />

<!-- remove deleted students -->
        <% 
            let deleteIndices=[];
            alphaStudents.forEach((student)=>{ 
                if(student.last.startsWith("!")){
                    var idx = alphaStudents.findIndex((a)=>{return (a.iD == student.iD)});
                    deleteIndices.push(idx);
                }
            });
            for(var j=deleteIndices.length-1; j>=0; j--){
                alphaStudents.splice(deleteIndices[j],1);
            }
        %>
        
        <div id="otitle">
            <h1>Central Jersey Math League</h1>
        </div>
        <div class="coachbox obuttonbar">
            <%if(editTeam){%>
                <p>
                    Coach:&nbsp;
                    <input type="text" placeholder="Enter coach first name" form="editTeam" name="coachFirst"
                        value="<%=coachFirst%>" required autofocus />
                    <input type="text" placeholder="Enter coach middle name" form="editTeam" name="coachMiddle"
                        value="<%=coachMiddle%>" />
                    <input type="text" placeholder="Enter coach last name" form="editTeam" name="coachLast"
                        value="<%=coachLast%>" required />
                </p>
                <p>
                    School:&nbsp;
                    <input type="text" placeholder="Enter school name" form="editTeam" name="coachSchool" 
                        value="<%=coachSchool%>" required />
                    <button type="submit" form="editTeam" name="requestType" value="submitTeam" id="click-on-enter">
                        Save Changes
                    </button>
                    <button type="submit" form="mainForm" name="requestType" value="readOnly">
                        Cancel
                    </button>
                </p>
            <%}else{%>
                <p>Coach: <%=coachFullName%></p>
                <p>
                    School: <%=coachSchool%>
                    <button type="submit" form="mainForm" 
                        name="requestType" value="editTeam">
                        Edit
                    </button>
                    <button type="submit" form="mainForm"
                        name="requestType" value="changePwd">
                        Change Password
                    </button>

                </p>
            <%}%>
        </div>
        <br />
        <form action="/coach" method="POST" id="mainForm">
            <input type="checkbox" checked="checked" class="invisible"
                name="coachId" value="<%=coachId%>" />
            <input type="checkbox" checked="checked" class="invisible"
                name="session" value="<%=session%>" />
        </form>
        <form action="/coach" method="POST" id="namesForm">
            <input type="checkbox" checked="checked" class="invisible"
                name="coachId" value="<%=coachId%>" />
            <input type="checkbox" checked="checked" class="invisible"
                name="session" value="<%=session%>" />
        </form>
        <form action="/coach" method="POST" id="scoresForm">
            <input type="checkbox" checked="checked" class="invisible"
                name="coachId" value="<%=coachId%>" />
            <input type="checkbox" checked="checked" class="invisible"
                name="session" value="<%=session%>" />
        </form>
        <form action="/coach" method="POST" id="editTeam">
            <input type="checkbox" checked="checked" class="invisible"
                name="coachId" value="<%=coachId%>" />
            <input type="checkbox" checked="checked" class="invisible"
                name="session" value="<%=session%>" />
        </form>
        <div class="specialbuttonbar">
            <%if(currentStatusTeamContest){%>
                <p>&nbsp;</p>
            <%} else {
                if(state=="enterNames" ){%>
                    <div class="oleftbutton">
                        <button type="submit" form="namesForm" 
                                    name="requestType" value="submitNames">
                            Save Changes
                        </button>
                        <button type="submit" form="mainForm" name="requestType" value="readOnly">
                            Cancel
                        </button>
                    </div>
                <%} else {%>
                    <button form="mainForm" type="submit" class="oleftbutton" 
                                name="requestType" value="enterNames" 
                                <%if(!(state=="readOnly")){%>disabled <%}%>>
                        Edit Scoresheet Names
                    </button>
                <%}%>
            <%}%>
            <%if(state=="enterScores"){%>
                <div class="omiddlebutton">
                    <button type="submit" form="scoresForm" 
                                name="requestType" value="submitScores">
                        Save Changes
                    </button>
                    <button type="submit" form="mainForm" 
                                name="requestType" value="readOnly">
                        Cancel
                    </button>
                </div>
            <%} else {%>
                <button form="mainForm" type="submit" class="omiddlebutton" 
                            name="requestType" value="enterScores" 
                            <%if(!(state=="readOnly")){%> disabled <%}%>>
                    Edit Scores
                </button>
            <%}%>
            <button form="mainForm" type="submit" class="orightbutton"
                <%if(state=="readOnly" ){%><%} else {%> disabled <%}%> 
                name="requestType" value="manageRoster">
                Manage Roster
            </button>
            <br />
            <br />
        </div>
        <% if (locals.duplicates) {%>
            <p id="multipleerror"><%=duplicateErrorMessage%></p>
        <%}%>
        <% if (place != "TBD") {%>
            <button type="submit" id="downloadScoresheet" form="mainForm" 
                    name="requestType" value="downloadScoresheet">
                Download Scoresheet Data
            </button>
        <%}%>
        <div id="viewwindow">
            <div id="scoresheet">
                <div class="headerline">
                    <h2 id="scoresheettitle">Central Jersey Math League</h2>
                    <div class="tbd">
                        <button type="submit" form="mainForm" class="invisible" id="tbdButton"
                            name="requestType" value="readOnly"></button>
                        <label for="tbdButton">Place: <em class="r" id="teamrank"><%=place%></em></label>
                    </div>
                </div>
                <div class="headerline"><h2><%=coachSchool%> Score Sheet</h2></div>
                <%if (currentStatusTeamContest) {%>
                    <div class="headerline"><h2>Team Contest</h2></div>
                <%}%>
                <div class="headerline leftjustify">
                    <div class="wideheader">Coach:<br><span class="big spacer" max-length="26"><%=coachFullName%></span></div>
                    <div class="wideheader">Venue:<br><span class="big spacer" ><%=currentStatusHostSchool%></span></div>
                    <div class="narrowheader">Date:<br><span class="big spacer"><%=currentStatusContestDate%></span></div>
                    <div class="narrowheader">&emsp;Contest No:<br>&emsp;&emsp;&emsp;&emsp; <span class="big spacer"><%=currentStatusContestNumber%></span></div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th scope="col" class="seatNumberColumn"></th>
                            <th scope="col" class="namesColumn unbold">
                                <%if(currentStatusTeamContest) {%>Question Numbers:<%} else {%> Varsity team: players 1 through 5<%}%>
                            </th>
                            <th scope="col">1</th>
                            <th scope="col">2</th>
                            <th scope="col">3</th>
                            <th scope="col">4</th>
                            <th scope="col">5</th>
                            <th scope="col">6</th>
                            <th scope="col">7</th>
                            <th scope="col">8</th>
                            <th scope="col">9</th>
                            <th scope="col">10</th>
                            <th scope="col"><%if(currentStatusTeamContest){%>Score<%} else {%>Scores<%}%></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if(currentStatusTeamContest){%>
                            <tr>
                                <th scope="row">&nbsp;</th>
                                <td class="namesrow">
                                    Team Points
                                </td>
                                <%for(var j=0; j<10; j++){%>
                                    <td>
                                        <%var buttonName="scoreArray0" +j%>
                                        <input form="scoresForm" type="checkbox" checked="checked" id="<%=buttonName%>" name="<%=buttonName%>"
                                            value="<%=coachScoreSheetScores[0][j]%>" class="invisible">
                                        <button type="button" <%if(state!="enterScores"){%> disabled <%}%> class="qbox click clickrow0" >
                                                <%=coachScoreSheetScores[0][j]%>
                                        </button>
                                    </td>
                                <%}%>
                                <td class="scoreboxv" id="hScore0">
                                    <p>0</p>
                                </td>
                            </tr>
                        <%} else {%>
                            <%for(var k=0; k<5; k++){%>
                                <tr>
                                    <th scope="row"><%=k+1%></th>
                                    <td>
                                        <select form="namesForm" name="<%='selectStudent'+k%>" class="namesrow" 
                                            <%if (state != "enterNames") {%> disabled <%}%>>
                                            <option value="empty">------------</option> 
                                            <%alphaStudents.forEach((student)=>{%>
                                                <option value="<%=student.iD%>" 
                                                    <%if(coachScoreSheetStudentPlacement[k]==student.iD) {%>selected="selected"<%}%>>
                                                        <%=student.fullName%>
                                                </option> 
                                            <%}) %>
                                            <option value="addStudent"
                                                    <%if(coachScoreSheetStudentPlacement[k]=="addStudent") {%> selected <%}%> >
                                                Add a Student
                                            </option>
                                        </select>
                                    </td>
                                    <%for(var j=0; j<10; j++){%>
                                        <td>
                                            <%var buttonName="scoreArray" +k+j%>
                                            <input form="scoresForm" type="checkbox" checked="checked" id="<%=buttonName%>" name="<%=buttonName%>"
                                                value="<%=coachScoreSheetScores[k][j]%>" class="invisible">
                                            <button type="button" class="qbox click <%='clickrow' + k%>"
                                                <%if((state!="enterScores" ) || (coachScoreSheetStudentPlacement[k]=="empty" )) {%>disabled <%}%>>
                                                <%=coachScoreSheetScores[k][j]%>
                                            </button>
                                        </td>
                                    <%}%>
                                    <td class="scoreboxv" id="<%='hScore'+k%>"><p>0</p></td>
                                </tr>
                            <%}%>
                            <tr class="qboxrow">
                                <td></td>
                                <td class="spacer rightjustify">Varsity&nbsp;&nbsp;</td>
                                <%for(var j=0; j<10; j++){%>
                                    <td class="spacer" id="<%='v'+j%>">
                                        0
                                    </td>
                                <%}%>
                                <td class="big spacer r" id="vscore"><p>0</p></td>
                            </tr>
                            <%for(var k=5; k<10; k++){%>
                                <tr>
                                    <th scope="row">
                                        <%=k+1%>
                                    </th>
                                    <td>
                                        <select form="namesForm" name="<%='selectStudent'+k%>" class="namesrow" <%if(state !="enterNames" ){%>disabled <%}%>>
                                            <option value="empty">------------</option>
                                            <%alphaStudents.forEach((student)=>{%>
                                                <option value="<%=student.iD%>" 
                                                    <%if(coachScoreSheetStudentPlacement[k]==student.iD) {%> selected <%}%>>
                                                        <%=student.fullName%>
                                                </option>
                                            <%}) %>
                                            <option value="addStudent"
                                                    <%if(coachScoreSheetStudentPlacement[k]=="addStudent") {%> selected <%}%> >
                                                Add a Student
                                            </option>
                                        </select>
                                    </td>
                                    <%for(var j=0; j<10; j++){%>
                                        <td>
                                            <%var buttonName="scoreArray" +k+j%>
                                            <input form="scoresForm" type="checkbox" checked="checked" id="<%=buttonName%>" name="<%=buttonName%>" 
                                                value="<%=coachScoreSheetScores[k][j]%>" class="invisible">
                                            <button type="button" class="qbox click <%='clickrow' + k%>"
                                                <%if((state!="enterScores" ) || (coachScoreSheetStudentPlacement[k]=="empty" )) {%>disabled <%}%>>
                                                <p><%=coachScoreSheetScores[k][j]%></p>
                                            </button>
                                        </td>
                                    <%}%>
                                    <td class="scoreboxjv" id="<%='hScore'+k%>"><p>0</p></td>
                                </tr>
                            <%}%>
                            <tr  class="qboxrow">
                                <td></td>
                                <td class="spacer rightjustify">JV&nbsp;&nbsp;</td>
                                <%for(var j=0; j<10; j++){%>
                                    <td class="spacer" id="<%='jv'+j%>">
                                        0
                                    </td>
                                <%}%>
                                <td class="big spacer" id="jvscore"><p>0</p></td>
                            <%}%>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div id="footer">
            <p class="smallPrint">copyright 2025 Daniel M. Fishman</p>
        </div>
        <%if(currentStatusTeamContest){%>
            <script src="coachTeamContest.js"></script>
        <%} else {%>
            <script src="coachRegContest.js"></script>
        <%}%>
        <%if (locals.namesLockedMsg) { %>
            <script>
                window.onload = function() {alert("Name entry is currently locked")};
            </script>
        <%}%>
        <%if (locals.scoresLockedMsg) { %>
            <script>
                window.onload = function() {alert("Score entry is currently locked")};
            </script>
        <%}%>
        <%if (editTeam) {%>
            <script>
                document.addEventListener('keydown', function (e) {
                    if (e.key === 'Enter') {
                        document.getElementById("click-on-enter").click();
                    }
                });
            </script>
        <%}%>
    </body>
</html>