<!DOCTYPE html>
<!-- Next: Put in another line so that the JV and Varsity team scores are computed DONE -->
<!-- Remaining Steps:
1. Finish the css code to lay out the coach entry page completely, move down the Varsity and JV labels DONE
2. Turn the html code into ejs code, making the dropdowns functional DONE
3. Add functionality to the score boxes and the buttons DONE
4. Add a way for coaches to manage their team roster. Change data structure to separate first, 
middle, last names (functionality only, see step 9) DONE
5. Make an administrator login with controls to open/close each entry for every or for specific coaches, 
and to see who has entered data yet (functionality only, see step 9) DONE
5.5 Clean up and document all code, and upload to github DONE
6. Research providers of free virtual servers. Select and sign up for a service DONE
12. Make Administrator function to clear out a contest and set up the next contest

7. Connect the server to a database and rewrite the database read and write routines
8. Give the administrator the option of turning on the team-contest mode. Write the corresponding code in coach.ejs.
9. Review the existing CSS and extend the CSS to the other three pages (login, 
admin, roster management), making a common color and font and button scheme and using the same header and footer.
10. Require password authentication on every http request and research good security practices
11. Find a way to send the server data to a Google Sheet (Google API?)
13. Deliver a score sheet to the coach--What file format will it be? Mary Kay's idea about giving raw data to play with -->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=coachSchool%> score card</title>
        <link rel="stylesheet" href="/coach.css">
    </head>
    <body>
        <div id="oheader">
            <p>page header with links</p>
            <a href="/?arrivedFrom=loggedout"><button>logout</button></a>
        </div>
        <br />

<!-- remove deleted students -->
        <% 
            let deleteIndices=[];
            alphaStudents.forEach((student)=>{ 
                if(student.last.startsWith("!")){
                    var idx = alphaStudents.findIndex((a)=>{return (a.iD == student.iD)});
                    deleteIndices.push(idx);
                }
            });
            for(var j=deleteIndices.length-1; j>=0; j--){
                alphaStudents.splice(deleteIndices[j],1);
            }
        %>
        
        <div id="otitle">
            <h1>Central Jersey Math League</h1>
        </div>
        <div class="coachbox obuttonbar">
            <%if(editTeam){%>
                <p>
                    Coach:&nbsp;
                    <input type="text" placeholder="Enter coach first name" form="editTeam" name="coachFirst"
                        value="<%=coachFirst%>" required/>
                    <input type="text" placeholder="Enter coach middle name" form="editTeam" name="coachMiddle"
                        value="<%=coachMiddle%>" />
                    <input type="text" placeholder="Enter coach last name" form="editTeam" name="coachLast"
                        value="<%=coachLast%>" required />
                </p>
                <p>
                    School:&nbsp;
                    <input type="text" placeholder="Enter school name" form="editTeam" name="coachSchool" 
                        value="<%=coachSchool%>" required />
                    <button type="submit" form="editTeam" name="requestType" value="submitTeam">
                        Save Changes
                    </button>
                    <button type="submit" form="mainForm" name="requestType" value="readOnly">
                        Cancel
                    </button>
                </p>
            <%}else{%>
                <p>Coach: <%=coachFullName%></p>
                <p>
                    School: <%=coachSchool%>
                    <button type="submit" form="mainForm" 
                        name="requestType" value="editTeam">
                        Edit
                    </button>
                    <button type="submit" form="mainForm"
                        name="requestType" value="changePwd">
                        Change Password
                    </button>

                </p>
            <%}%>
        </div>
        <br />
        <form action="/coach" method="POST" id="mainForm">
            <input type="checkbox" checked="checked" class="invisible"
                name="coachId" value="<%=coachId%>" />
            <input type="checkbox" checked="checked" class="invisible"
                name="session" value="<%=session%>" />
        </form>
        <form action="/coach" method="POST" id="namesForm">
            <input type="checkbox" checked="checked" class="invisible"
                name="coachId" value="<%=coachId%>" />
            <input type="checkbox" checked="checked" class="invisible"
                name="session" value="<%=session%>" />
            <%if(state=="enterNames"){%>
                <input type="checkbox" checked="checked" class="invisible"
                    name="numAddedStuds" value="<%=numAddedStuds%>" />
            <%}%>
        </form>
        <form action="/coach" method="POST" id="scoresForm">
            <input type="checkbox" checked="checked" class="invisible"
                name="coachId" value="<%=coachId%>" />
            <input type="checkbox" checked="checked" class="invisible"
                name="session" value="<%=session%>" />
        </form>
        <form action="/coach" method="POST" id="editTeam">
            <input type="checkbox" checked="checked" class="invisible"
                name="coachId" value="<%=coachId%>" />
            <input type="checkbox" checked="checked" class="invisible"
                name="session" value="<%=session%>" />
        </form>
        <div class="obuttonbar">
            <button form="mainForm" type="submit" class="oleftbutton"
                name="requestType" value="enterNames"  
                <%if(state == "readOnly"){%> <%} else {%>disabled<%}%>>
                Enter Names
            </button>
            <button form="mainForm" type="submit" class="oleftbutton2"
                name="requestType" value="enterScores"  
                <%if(state == "readOnly"){%> <%} else {%>disabled<%}%>>
                Enter Scores
            </button>
            <button form="mainForm" type="submit" class="orightbutton2"
                <%if(state=="readOnly" ){%><%} else {%> disabled<%}%> 
                name="requestType" value="manageRoster">
                Manage Roster
            </button>
            <br />
            <br />

        </div>


        <% if (locals.duplicates) {%>
            <p id="multipleerror">You must not enter the same student multiple times</p>
        <%}%>
        <div id="viewwindow">
            <div id="scoresheet">
                <div class="headerline">
                    <h2 id="scoresheettitle">Central Jersey Math League</h2>
                    <div class="tbd">
                        <p>Place: <em class="r" id="teamrank">TBD</em></p>
                    </div>
                </div>
                <div class="headerline"><h2><%=coachSchool%> Score Sheet</h2></div>
                <div class="headerline leftjustify">
                    <div class="wideheader">Coach:<br><span class="big spacer" max-length="26"><%=coachFullName%></span></div>
                    <div class="wideheader">Venue:<br><span class="big spacer" ><%=currentStatusHostSchool%></span></div>
                    <div class="narrowheader">Date:<br><span class="big spacer"><%=currentStatusContestDate%></span></div>
                    <div class="narrowheader">&emsp;Contest No:<br>&emsp;&emsp;&emsp;&emsp; <span class="big spacer"><%=currentStatusContestNumber%></span></div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th scope="col" class="seatNumberColumn"></th>
                            <th scope="col" class="namesColumn unbold">Varsity team: players 1 through 5</th>
                            <th scope="col">1</th>
                            <th scope="col">2</th>
                            <th scope="col">3</th>
                            <th scope="col">4</th>
                            <th scope="col">5</th>
                            <th scope="col">6</th>
                            <th scope="col">7</th>
                            <th scope="col">8</th>
                            <th scope="col">9</th>
                            <th scope="col">10</th>
                            <th scope="col">Scores</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(var k=0; k<5; k++){%>
                            <tr>
                                <th scope="row"><%=k+1%></th>
                                <td>
                                    <select form="namesForm" name="<%='selectStudent'+k%>" class="namesrow" <%if(state != "enterNames" ) {%>disabled<%}%>>
                                        <option value="empty">Choose a student</option> 
                                        <%alphaStudents.forEach((student)=>{%>
                                            <option value="<%=student.iD%>" 
                                                <%if(coachScoreCardStudentPlacement[k]==student.iD) {%>selected="selected"<%}%>>
                                                    <%=student.fullName%>
                                            </option> 
                                        <%}) %>
                                        <option value="addStudent">Add a Student</option>
                                    </select>
                                </td>
                                <%for(var j=0; j<10; j++){%>
                                    <td>
                                        <%var buttonName="scoreArray" +k+j%>
                                        <input form="scoresForm" type="checkbox" checked="checked" id="<%=buttonName%>" name="<%=buttonName%>"
                                            value="<%=coachScoreCardScores[k][j]%>" class="invisible">
                                        <button type="button" class="qbox click <%='clickrow' + k%>"
                                            <%if((state!="enterScores" ) || (coachScoreCardStudentPlacement[k]=="empty" )) {%>disabled<%}%>>
                                            <%=coachScoreCardScores[k][j]%>
                                        </button>
                                    </td>
                                <%}%>
                                <td class="scoreboxv" id="<%='hScore'+k%>"><p>0</p></td>
                            </tr>
                        <%}%>
                        <tr class="qboxrow">
                            <td></td>
                            <td class="spacer rightjustify">Varsity&nbsp;&nbsp;</td>
                            <%for(var j=0; j<10; j++){%>
                                <td class="spacer" id="<%='v'+j%>">
                                    0
                                </td>
                            <%}%>
                            <td class="big spacer r" id="vscore"><p>0</p></td>
                        </tr>
                        <%for(var k=5; k<10; k++){%>
                            <tr>
                                <th scope="row">
                                    <%=k+1%>
                                </th>
                                <td>
                                    <select form="namesForm" name="<%='selectStudent'+k%>" class="namesrow" <%if(state !="enterNames" ){%>disabled<%}%>>
                                        <option value="empty">Choose a student</option>
                                        <%alphaStudents.forEach((student)=>{%>
                                            <option value="<%=student.iD%>" 
                                                <%if(coachScoreCardStudentPlacement[k]==student.iD) {%>selected="selected"<%}%>>
                                                    <%=student.fullName%>
                                            </option>
                                        <%}) %>
                                        <option value="addStudent">Add a Student</option>
                                    </select>
                                </td>
                                <%for(var j=0; j<10; j++){%>
                                    <td>
                                        <%var buttonName="scoreArray" +k+j%>
                                        <input form="scoresForm" type="checkbox" checked="checked" id="<%=buttonName%>" name="<%=buttonName%>" 
                                            value="<%=coachScoreCardScores[k][j]%>" class="invisible">
                                        <button type="button" class="qbox click <%='clickrow' + k%>"
                                            <%if((state!="enterScores" ) || (coachScoreCardStudentPlacement[k]=="empty" )) {%>disabled<%}%>>
                                            <p><%=coachScoreCardScores[k][j]%></p>
                                        </button>
                                    </td>
                                <%}%>
                                <td class="scoreboxjv" id="<%='hScore'+k%>"><p>0</p></td>
                            </tr>
                        <%}%>
                        <tr  class="qboxrow">
                            <td></td>
                            <td class="spacer rightjustify">JV&nbsp;&nbsp;</td>
                            <%for(var j=0; j<10; j++){%>
                                <td class="spacer" id="<%='jv'+j%>">
                                    0
                                </td>
                            <%}%>
                            <td class="big spacer" id="jvscore"><p>0</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="obuttonbar">
            <div class="horizontalchildren oleftbutton">
                <button type="submit" form="namesForm" <%if(state == "enterNames"){%> <%} else {%>disabled<%}%>
                    name="requestType" value="submitNames">
                    Submit Name Entry
                </button>
                <%if(state == "enterNames") {%>
                    <button type="submit" form="mainForm"
                        name="requestType" value="readOnly">
                        Cancel
                    </button>
                <%}%>
            </div>
            <div class="horizontalchildren orightbutton">
                <button type="submit" form="scoresForm" <%if(state == "enterScores"){%> <%} else {%>disabled<%}%>
                    name="requestType" value="submitScores">
                    Submit Score Entry
                </button>
                <%if(state == "enterScores") {%>
                    <button type="submit" form="mainForm"
                        name="requestType" value="readOnly">
                        Cancel
                    </button>
                <%}%>
            </div>
        </div>
        <div id="footer">
            <p>page footer with credits</p>
        </div>
        <script src="coach.js"></script>
        <%if (locals.namesLockedMsg) { %>
            <script>
                window.onload = function() {alert("Name entry is currently locked")};
            </script>
        <%}%>
        <%if (locals.scoresLockedMsg) { %>
            <script>
                window.onload = function() {alert("Score entry is currently locked")};
            </script>
        <%}%>
    </body>
</html>