<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Management</title>
    <link rel="stylesheet" href="/statistician.css">
</head>
<body>
    <h1>CJML Statistician Team Manangement</h1>
    <form action="/statistician" method="POST" id="backToConsole">
        <input type="checkbox" checked="checked" name="session" value="<%=session%>" class="invisible">
    </form>
    <form action="/statisticianroster" method="POST" id="statisticianRoster">
        <input type="checkbox" checked="checked" name="session" value="<%=session%>" class="invisible">
    </form>
        <!-- I need three separate forms to /manageteams because of different required fields. -->
    <form action="/manageteams" method="POST" id="editTeam"> 
        <input type="checkbox" checked="checked" name="session" value="<%=session%>" class="invisible">
        <input type="checkbox" checked="checked" name="summerMode" value="<%=summerMode%>" class="invisible">
    </form>
    <form action="/manageteams" method="POST" id="addTeam">
        <input type="checkbox" checked="checked" name="session" value="<%=session%>" class="invisible">
        <input type="checkbox" checked="checked" name="summerMode" value="<%=summerMode%>" class="invisible">
    </form>
    <form action="/manageteams" method="post">
        <input type="checkbox" checked="checked" name="session" value="<%=session%>" class="invisible">
        <input type="checkbox" checked="checked" name="summerMode" value="<%=summerMode%>" class="invisible">
        <div class="sidebyside horizontalchildren">
            <div class="leftside">
                <div class="block">
                    <button type="submit" <%if(!(summerMode)){%> disabled <%}%> form="backToConsole" 
                        name="requestType" value="cleanDeleted"
                        onclick="return confirm('Are you sure?')">
                        Clean out deleted students
                    </button>
                    <br /> 
                    <!-- I don't know why I need this break, since the display is set to "block" in the css. -->
                    <button type="submit" form="backToConsole"
                        name="requestType" value="readOnly">
                        Back to Console
                    </button>
                </div>
            </div>
            <div class="rightside"> 
                <!--css is TERRIBLE here.-->
                <button type="submit" class="invisible" id="summerModeButton"
                    name="requestType" <%if(summerMode){%> value="summerModeOff" checked <%}else{%> value="summerModeOn"<%}%>></button>
                <label for="summerModeButton" class="fauxRadio"><%if(summerMode){%> <img width="2%" src="/images/checked.png" alt="checked">
                    <%}else{%> <img width="2%" src="/images/unchecked.png" alt="unchecked"><%}%>
                    summer mode
                </label>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Coach ID</th>
                            <th scope="col">School/Coach</th>
                            <th scope="col">Roster Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% alphaSchools.forEach((school)=>{%>
                            <%var idx=coachList.findIndex((coach)=>{
                                return coach.iD == school.coachId;
                            });%>
                            <tr>
                                <td>
                                    <%=school.coachId%>
                                </td>
                                <%if(school.coachId == editTeam){%>
                                    <td>
                                        <input type="text" placeholder="Enter school name" form="editTeam"
                                            name="coachSchool" value="<%=school.school%>" required />
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Enter coach first name" form="editTeam"
                                            name="coachFirst" value="<%=coachList[idx].first%>" />
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Enter coach middle name" form="editTeam"
                                            name="coachMiddle" value="<%=coachList[idx].middle%>" />
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Enter coach last name" form="editTeam"
                                            name="coachLast" value="<%=coachList[idx].last%>" required />
                                    </td>
                                    <td>
                                        <button type="submit" form="editTeam"
                                            name="requestType" value="<%='updateTeam'+editTeam%>">
                                            Save Changes
                                        </button>
                                    </td>
        
                                <%} else {%>
                                    <td>
                                        <%=school.school%><br /><%=coachList[idx].fullName%>
                                    </td>
                                    <td><%=coachList[idx].students.length%></td>
                                    <td> 
                                        <button type="submit" 
                                            name="requestType" value="<%='editTeam'+coachList[idx].iD%>">
                                            Edit Team Name
                                        </button>
                                    </td>
                                    <td> 
                                        <button type="submit" form="statisticianRoster" 
                                            name="requestType" value="<%='manageRoster'+coachList[idx].iD%>">
                                            Manage Team
                                        </button>
                                    </td>
                                    <td> 
                                        <button type="submit" <%if(!(summerMode)){%> disabled <%}%>
                                            name="requestType" value="<%='deleteTeam'+coachList[idx].iD%>"
                                            onclick="return confirm('Are you sure?')">
                                            Delete Team
                                        </button>
                                    </td>
                                <%}%>

                            </tr>
                        <%});%>

                        <tr>
                            <td>
                                <input type="text" form="addTeam" required
                                    name="coachSchool" placeholder="Enter school name">
                            </td>
                            <td>
                                <input type="text"  form="addTeam" required
                                    name="coachFirst" placeholder="Enter coach first name">
                            </td>
                            <td>
                                <input type="text"  form="addTeam"
                                    name="coachMiddle"  placeholder="Enter coach middle name"> 
                            </td>
                            <td>
                                <input type="text" form="addTeam" required 
                                    name="coachLast" placeholder="Enter coach last name">
                            </td>
                            <td>
                                <button type="submit" form="addTeam" required 
                                    name="requestType" value="addTeam">
                                    Add team
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </form>
</body>
</html>