<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistician Console</title>
    <link rel="stylesheet" href="/statistician.css">
</head>
<body>
    <div id="wholepage">
        <div id="pagetitle">
            <h1>CJML Statistician Console</h1>
        </div>
        <br />
        <button type="submit" form="statform"
            name="requestType" value="changePwd">
            Change Password
        </button>

        <div id="sidebyside">
            <div id="leftside" class="boxed">
                <div id="contestinfo" class="boxed">
                    <form action="/manageTeams" method="POST" id="manageTeamsForm">
                        <input type="checkbox" class="invisible" checked="checked"
                            name="session" value="<%=session%>" />
                    </form>
                    <form action="/statistician" method="POST" id="statform">
                        <input type="checkbox" class="invisible" checked="checked" 
                            name="session" value="<%=session%>" />
                        <%if(state=="modifyVenue"){%>
                            <div class="horizontalchildren">
                                <p>
                                    Contest 
                                    <input type="text" maxlength="1" size="1" required
                                        name="contestNumber" value="<%=contestStatus.contestNumber%>" />&nbsp;
                                    <input type="text" maxlength="10" size="10" required
                                        name="contestDate" value="<%=contestStatus.contestDate%>" />
                                    <input type="checkbox" name="teamContest" id="forTeamContest" value="true">
                                    <label for="forTeamContest">Team Contest</label>
                                </p>
                            </div>
                            <p>
                                <input type="text" required 
                                    name="hostSchool" value="<%=contestStatus.hostSchool%>" />
                            </p>
                            <div class="horizontalchildren">
                                <button type="submit" name="requestType" value="submitVenue">
                                    Save Changes
                                </button>
                                <button type="submit" 
                                    name="requestType" value="readOnly">
                                    Cancel
                                </button>
                            </div>
                        <%} else {%>
                            <div class="horizontalchildren">
                                <p>Contest <%=contestStatus.contestNumber%>,&nbsp;<%=contestStatus.contestDate%></p>
                                <p><%if(contestStatus.teamContest){%>Team contest<%} else {%> Regular contest<%}%></p>
                            </div>
                            <p><%=contestStatus.hostSchool%></p>
                            <button type="submit" name="requestType" value="modifyVenue">
                                Modify
                            </button>
                        <%}%>
                    </form>
                </div>
                <br />
                <br />
                <br />
                <div id="controlButtons">
                    <div>
                        <button type="submit" form="statform" 
                            name="requestType" value="newContest"
                            onclick="return confirm('Are you sure?')">
                            New Contest
                        </button>
                    </div>
                    <div>
                        <button id="beginAutoBackups">
                            Begin auto-backups
                        </button>
                    </div>
                    <div>
                        <button type="submit" form="manageTeamsForm" 
                            name="requestType" value="manageTeams"
                            onclick='return confirm("Avoid modifying team details simultaneously with the coach")'>
                            Manage Teams
                        </button>
                    </div>
                    <%if(state == "showAnnouncements"){%>  <!-- also if statistician.js code adds/removes classes appropriately -->
                        <div>
                            <button id="endContest" class="invisible">
                                End Contest
                            </button>
                        </div>
                        <div class="inline boxed margined" id="endingButtons">
                            <button type="submit" id="rankings" form="statform"
                                    name="requestType" value="computeRanking">
                                Send place values to scoresheets
                            </button>
                            <button type="submit" id="downPaste" form="statform"
                                    name="requestType" value="downloadPasteable">
                                Download contest data
                            </button>
                            <button type="submit" id="downBack" form="statform"
                                    name="requestType" value="downloadBackup">
                                Download backup data and stop autobackup
                            </button>
                            <button id="finishEndingContest">
                                Done
                            </button>
                        </div>
                    <%} else {%>
                        <div>
                            <button id="endContest">
                                End Contest
                            </button>
                        </div>
                        <div class="inline margined" id="endingButtons">
                            <button type="submit" id="rankings" class="invisible" form="statform"
                                    name="requestType" value="computeRanking">
                                Send place values to scoresheets
                            </button>
                            <button type="submit" id="downPaste" class="invisible" form="statform"
                                    name="requestType" value="downloadPasteable">
                                Download contest data
                            </button>
                            <button type="submit" id="downBack" class="invisible" form="statform"
                                    name="requestType" value="downloadBackup">
                                Download backup data and stop autobackup
                            </button>
                            <button class="invisible" id="finishEndingContest">
                                Done
                            </button>
                        </div>
                    <%}%>
                    <div>
                        <button type="button" id="restoreReqButton">
                            Restore from Backup
                        </button>
                        <form action="/restore" method="POST" id="restoreForm">
                        </form>
                            <input type="checkbox" class="invisible" checked="checked" form="restoreForm"
                                    name="session" value="<%=session%>" />
                            <input type="text" id="restoreCoachTextField" class="invisible" placeholder="Paste JSON string here."
                                    name="backupJSON" autocomplete="off" />
                            <button type="button" id="restoreButton" class="invisible">Restore</button>
                            <input type="checkbox" class="invisible" checked="checked" id="packetBodyHolder"
                                    name="packetBody" value="" form="restoreForm">
                            <button type="submit" id="packetSendButton" class="invisible"
                                    name="packetStats" value="" form="restoreForm">
                            </button>
                    </div>
                    <div>
                        <button type = "submit" form="statform"
                                name="requestType" value="restartLogFile">
                            Restart log file (download and delete former log file)
                        </button>
                    </div>
                    <div>
                        <a href="/?arrivedFrom=loggedout"><button>Logout</button></a>
                    </div>
                </div>
                <button type="submit" id="downBackAuto" class="invisible" form="statform" 
                        name="requestType" value="downloadBackup">
                    Download backup data (this button is always invisible)
                </button>
            </div>
            <div id="rightside">
                <p  id="progressCounter" class="invisible">
                </p>
                <form action="/statistician" method="POST" id="rightsideform">
                    <input type="checkbox" class="invisible" checked="checked"
                        name="session" value="<%=session%>" />
                    <div id="contestcontrols", class="horizontalchildren">
                        <%if(contestStatus.teamContest) {%>
                            <p>&nbsp;</p>
                        <%} else {%>
                            <button type="submit" name="requestType" value="openNames">
                                open names
                            </button>
                            <button type="submit" name="requestType" value="closeNames">
                                lock names
                            </button>
                        <%}%>
                        <button type="submit" name="requestType" value="openScores">
                            open scores
                        </button>
                        <button type="submit" name="requestType" value="closeScores">
                            lock scores
                        </button>
                    </div>
                    <div>
                        <table class="fullwidth">
                            <tbody>
                                <%alphaSchools.forEach((alphaSchool)=>{%>
                                    <tr>
                                        <%var idx=coachList.findIndex((coach)=>{return(coach.iD == alphaSchool.coachId);});%>
                                        <td><%=coachList[idx].school%><br /><%=coachList[idx].fullName%></td>
                                        <%if(!(contestStatus.teamContest)){%>
                                            <td class="<%if(coachList[idx].permission.nameEntry){%>green <%}else{%>red <%}%>tdnarrow">
                                                <label for="<%='names'+coachList[idx].iD%>">
                                                    Names<br />
                                                    <%if(coachList[idx].permission.nameEntry){%>Open<%}else{%>Locked<%}%>
                                                </label><br />
                                                <button type="submit" class="invisible" id="<%='names'+coachList[idx].iD%>" 
                                                    name="requestType" value="<%='namePermission'+alphaSchool.coachId%>">
                                                </button>
                                            </td>
                                        <%}%>
                                        <td class="<%if(coachList[idx].permission.scoreEntry){%>green <%}else{%>red <%}%>tdnarrow">
                                            <label for="<%='scores'+coachList[idx].iD%>"
                                                >Scores<br />
                                                <%if(coachList[idx].permission.scoreEntry){%>Open<%}else{%>Locked<%}%>
                                            </label><br />
                                            <button type="submit" class="invisible" id="<%='scores'+coachList[idx].iD%>" 
                                                name="requestType" value="<%='scorePermission'+alphaSchool.coachId%>">
                                            </button>
                                        </td>
                                        <td class="tdnarrow"><img src="/images/check.png" alt="check" width="40%" 
                                            <%if(!(coachList[idx].scoreSheet.studentsEntered)){%> class="invisible" <%}%>>
                                        </td>
                                        <td class="tdnarrow"><img src="/images/check.png" alt="check" width="40%" 
                                            <%if(!(coachList[idx].scoreSheet.scoresEntered)){%> class="invisible" <%}%>>
                                        </td>
                                    </tr>
                                <%});%>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" name="requestType" value="readOnly">
                        refresh table
                    </button>
                </form>
                <% if (announcements){%>
                    <div class="boxed">
                        <h2>
                            Highest-Scoring Teams:
                        </h2>
                        <h3 class="announcements"><%=announcements.firstPlace%></h3>
                        <h3 class="announcements"><%=announcements.secondPlace%></h3>
                        <h3 class="announcements"><%=announcements.thirdPlace%></h3>
                        <%if(!(contestStatus.teamContes)){%>
                            <h2>The individual high score of <%=announcements.highScore%> was achieved by:</h2>
                            <h3 class="announcements"><%=announcements.highScorers%></h3>
                        <%}%>
                    </div>
                <%}%>
            </div>
        </div>
    <script src="statistician.js"></script>
</body>
</html>